#main-wrapper {
    width: 980px;
    background: url(../images/main-wraper-bg.gif) center center repeat-y;
    margin: 2em auto;
    position: relative;
    padding: 10px 0px;
}

#main-wrapper-top {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 20px;
    width: 100%;
    background: url(../images/main-wraper-corners-bg.gif) top left no-repeat;
    z-index: 1;
}

#main-wrapper-bottom {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    z-index: 1;
    background: url(../images/main-wraper-corners-bg.gif) bottom left no-repeat;
}

#main {
    position: relative;
    z-index: 2;
}

#header {
}

/* Flat top menu */

#top-menu-flat {
    float:left;
    width:100%;
/*    overflow:hidden; */
    position:relative;
}

#top-menu-flat ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
}

#top-menu-flat ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
}

#top-menu-flat ul li a {
   display:block;
}

#top-menu-flat li a span {
  float: left;
  display: block;
}

div.top-menu-center ul {
    left:50%;
    text-align:center;
}

div.top-menu-center ul li {
    right: 50%;
}

/* Treemenu top menu */

#top-menu-flat ul {
    width: 100%;
}

#top-menu-flat li {
    width: 24.99%;
    text-align: center;
}

#top-menu-flat li a {
    cursor: hand;
}


#top-menu-flat li a span {
    float: none;
    display: block;
    line-height: 30px;
}

#top-menu-flat li ul {
    display: none;
    position: absolute;
    left: 0px;
    top: 30px;
}

#top-menu-flat li.hover ul,
#top-menu-flat li:hover ul {
    display: block;
}

#top-menu-flat li ul li {
    width: 100%;
    float: none;
}

/* Content View */

.content-view-full .imageleft {
    float: left;
    margin-top: 5px;
    margin-right: 20px;
}

.content-view-full .imageright {
    float: right;
    margin-top: 5px;
    margin-left: 20px;
}

.content-view-full a img {
    vertical-align: middle;
}

/* Folder */

/* Gallery */
.content-view-full .class-gallery {
}
.content-view-full .class-gallery td {
    padding: 0px 5px 10px 5px;
    vertical-align: top;
}
.content-view-full .content-view-galleryline {
    text-align: center;
}

/* Folder List */

.content-view-full .content-view-children {
}

.content-view-full .content-view-line {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #000;
}

.content-view-full .content-view-line h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px;
}

.content-view-full .content-view-line p {
    margin: 0.25em 0em;
}

/* Pagenavigator */

div.pagenavigator span.next {
    display: block;
    float: right;
}

div.pagenavigator span.previous {
    display: block;
    float: left;
}

div.pagenavigator span.pages {
    display: block;
    text-align: center;
}
