.hide {
    display: none;
}

/* Flat top menu */

#top-menu-flat {
    float:left;
    width:100%;
/*    overflow:hidden; */
    position:relative;
}

#top-menu-flat ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
}

#top-menu-flat ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
}

#top-menu-flat ul li a {
   display:block;
}

#top-menu-flat li a span {
  float: left;
  display: block;
}

div.top-menu-center ul {
    left:50%;
    text-align:center;
}

div.top-menu-center ul li {
    right: 50%;
}

/* Treemenu top menu */

#top-menu-flat ul {
    width: 100%;
}

#top-menu-flat li {
    width: 24.99%;
    text-align: center;
}

#top-menu-flat li a {
    cursor: hand;
}


#top-menu-flat li a span {
    float: none;
    display: block;
    line-height: 30px;
}

#top-menu-flat li ul {
    display: none;
    position: absolute;
    left: 0px;
    top: 30px;
}

#top-menu-flat li.hover ul,
#top-menu-flat li:hover ul {
    display: block;
}

#top-menu-flat li ul li {
    width: 100%;
    float: none;
}

/* Design */

#top-menu-flat ul {
    background: #58585a;
}

#top-menu-flat a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

#top-menu-flat li li a {
    text-transform: none;
}

#top-menu-flat span {
    background: #787a7d;
    margin-right: 1px;
}

#top-menu-flat li.last span {
    margin-right: 0px;
}

#top-menu-flat li li span {
    margin: 0px 1px;
    background: #58585a;
    border-bottom: 1px solid #6f7073;
}

#top-menu-flat li li.last span {
    margin: 0px 1px;
}

#top-menu-flat a:hover span {
    margin: 0px;
    color: #000;
    background: #a7a9ac;
}
